################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NET 6/.vs
/NET 6/EdiFabric.Examples.X12.AcknowledgeEDI/bin
/NET 6/EdiFabric.Examples.X12.AcknowledgeEDI/obj
/NET 6/EdiFabric.Examples.X12.Common/bin
/NET 6/EdiFabric.Examples.X12.Common/obj
/NET 6/EdiFabric.Examples.X12.CSV/bin
/NET 6/EdiFabric.Examples.X12.CSV/obj
/NET 6/EdiFabric.Examples.X12.DB/bin
/NET 6/EdiFabric.Examples.X12.DB/obj
/NET 6/EdiFabric.Examples.X12.Demo/bin
/NET 6/EdiFabric.Examples.X12.Demo/obj
/NET 6/EdiFabric.Examples.X12.JSON/bin
/NET 6/EdiFabric.Examples.X12.JSON/obj
/NET 6/EdiFabric.Examples.X12.MapEDI/bin
/NET 6/EdiFabric.Examples.X12.MapEDI/obj
/NET 6/EdiFabric.Examples.X12.MapEDI/EdiFabric.Examples.X12.MapEDI.csproj.user
/NET 6/EdiFabric.Examples.X12.ModifyTemplates/bin
/NET 6/EdiFabric.Examples.X12.ModifyTemplates/obj
/NET 6/EdiFabric.Examples.X12.ReadEDI/bin
/NET 6/EdiFabric.Examples.X12.ReadEDI/obj
/NET 6/EdiFabric.Examples.X12.T210/bin
/NET 6/EdiFabric.Examples.X12.T210/obj
/NET 6/EdiFabric.Examples.X12.T214/bin
/NET 6/EdiFabric.Examples.X12.T214/obj
/NET 6/EdiFabric.Examples.X12.T270/bin
/NET 6/EdiFabric.Examples.X12.T270/obj
/NET 6/EdiFabric.Examples.X12.T271/bin
/NET 6/EdiFabric.Examples.X12.T271/obj
/NET 6/EdiFabric.Examples.X12.T276/bin
/NET 6/EdiFabric.Examples.X12.T276/obj
/NET 6/EdiFabric.Examples.X12.T277/bin
/NET 6/EdiFabric.Examples.X12.T277/obj
/NET 6/EdiFabric.Examples.X12.T278/bin
/NET 6/EdiFabric.Examples.X12.T278/obj
/NET 6/EdiFabric.Examples.X12.T404/bin
/NET 6/EdiFabric.Examples.X12.T404/obj
/NET 6/EdiFabric.Examples.X12.T810/bin
/NET 6/EdiFabric.Examples.X12.T810/obj
/NET 6/EdiFabric.Examples.X12.T820/bin
/NET 6/EdiFabric.Examples.X12.T820/obj
/NET 6/EdiFabric.Examples.X12.T820HIX/bin
/NET 6/EdiFabric.Examples.X12.T820HIX/obj
/NET 6/EdiFabric.Examples.X12.T824/bin
/NET 6/EdiFabric.Examples.X12.T824/obj
/NET 6/EdiFabric.Examples.X12.T832/bin
/NET 6/EdiFabric.Examples.X12.T832/obj
/NET 6/EdiFabric.Examples.X12.T834/bin
/NET 6/EdiFabric.Examples.X12.T834/obj
/NET 6/EdiFabric.Examples.X12.T835/bin
/NET 6/EdiFabric.Examples.X12.T835/obj
/NET 6/EdiFabric.Examples.X12.T837D/bin
/NET 6/EdiFabric.Examples.X12.T837D/obj
/NET 6/EdiFabric.Examples.X12.T837I/bin
/NET 6/EdiFabric.Examples.X12.T837I/obj
/NET 6/EdiFabric.Examples.X12.T837P/bin
/NET 6/EdiFabric.Examples.X12.T837P/obj
/NET 6/EdiFabric.Examples.X12.T837P.DB/bin
/NET 6/EdiFabric.Examples.X12.T837P.DB/obj
/NET 6/EdiFabric.Examples.X12.T850/bin
/NET 6/EdiFabric.Examples.X12.T850/obj
/NET 6/EdiFabric.Examples.X12.T855/bin
/NET 6/EdiFabric.Examples.X12.T855/obj
/NET 6/EdiFabric.Examples.X12.T856/bin
/NET 6/EdiFabric.Examples.X12.T856/obj
/NET 6/EdiFabric.Examples.X12.T857/bin
/NET 6/EdiFabric.Examples.X12.T857/obj
/NET 6/EdiFabric.Examples.X12.T861/bin
/NET 6/EdiFabric.Examples.X12.T861/obj
/NET 6/EdiFabric.Examples.X12.T945/bin
/NET 6/EdiFabric.Examples.X12.T945/obj
/NET 6/EdiFabric.Examples.X12.Templates/bin
/NET 6/EdiFabric.Examples.X12.Templates/obj
/NET 6/EdiFabric.Examples.X12.ValidateEDI/bin
/NET 6/EdiFabric.Examples.X12.ValidateEDI/obj
/NET 6/EdiFabric.Examples.X12.WriteEDI/bin
/NET 6/EdiFabric.Examples.X12.WriteEDI/obj
/NET 6/EdiFabric.Examples.X12.XML/bin
/NET 6/EdiFabric.Examples.X12.XML/obj
/NET Framework 4.8/.vs/EdiFabric.Examples.X12
/NET Framework 4.8/EdiFabric.Examples.X12.AcknowledgeEDI/bin
/NET Framework 4.8/EdiFabric.Examples.X12.AcknowledgeEDI/obj
/NET Framework 4.8/EdiFabric.Examples.X12.Common/bin
/NET Framework 4.8/EdiFabric.Examples.X12.Common/obj
/NET Framework 4.8/EdiFabric.Examples.X12.CSV/bin
/NET Framework 4.8/EdiFabric.Examples.X12.CSV/obj
/NET Framework 4.8/EdiFabric.Examples.X12.DB/bin
/NET Framework 4.8/EdiFabric.Examples.X12.DB/obj
/NET Framework 4.8/EdiFabric.Examples.X12.Demo/bin
/NET Framework 4.8/EdiFabric.Examples.X12.Demo/obj
/NET Framework 4.8/EdiFabric.Examples.X12.JSON/bin
/NET Framework 4.8/EdiFabric.Examples.X12.JSON/obj
/NET Framework 4.8/EdiFabric.Examples.X12.MapEDI/bin
/NET Framework 4.8/EdiFabric.Examples.X12.MapEDI/obj
/NET Framework 4.8/EdiFabric.Examples.X12.ModifyTemplates/bin
/NET Framework 4.8/EdiFabric.Examples.X12.ModifyTemplates/obj
/NET Framework 4.8/EdiFabric.Examples.X12.ReadEDI/bin
/NET Framework 4.8/EdiFabric.Examples.X12.ReadEDI/obj
/NET Framework 4.8/EdiFabric.Examples.X12.ReadEDI/EdiFabric.Examples.X12.ReadEDI.csproj.user
/NET Framework 4.8/EdiFabric.Examples.X12.T210/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T210/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T214/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T214/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T270/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T270/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T271/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T271/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T276/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T276/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T277/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T277/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T278/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T278/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T404/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T404/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T810/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T810/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T820/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T820/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T820HIX/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T820HIX/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T824/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T824/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T832/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T832/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T834/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T834/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T835/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T835/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T837D/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T837D/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T837I/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T837I/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T837P/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T837P/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T837P.DB/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T837P.DB/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T850/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T850/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T855/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T855/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T856/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T856/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T857/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T857/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T861/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T861/obj
/NET Framework 4.8/EdiFabric.Examples.X12.T945/bin
/NET Framework 4.8/EdiFabric.Examples.X12.T945/obj
/NET Framework 4.8/EdiFabric.Examples.X12.Templates/bin
/NET Framework 4.8/EdiFabric.Examples.X12.Templates/obj
/NET Framework 4.8/EdiFabric.Examples.X12.ValidateEDI/bin
/NET Framework 4.8/EdiFabric.Examples.X12.ValidateEDI/obj
/NET Framework 4.8/EdiFabric.Examples.X12.WriteEDI/bin
/NET Framework 4.8/EdiFabric.Examples.X12.WriteEDI/obj
/NET Framework 4.8/EdiFabric.Examples.X12.XML/bin
/NET Framework 4.8/EdiFabric.Examples.X12.XML/obj
/NET Framework 4.8/packages
/NET 6/EdiFabric.Examples.X12.DB/Migrations
/NET 6/EdiFabric.Examples.X12.T837P.DB/Migrations
/NET Framework 4.8/EdiFabric.Examples.X12.Common/EdiFabric.Examples.X12.Common.csproj.user
/Files/token.txt
/NET Framework 4.8/EdiFabric.Examples.X12.AcknowledgeEDI/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.Common/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.CSV/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.DB/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.Demo/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.JSON/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.MapEDI/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.ModifyTemplates/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.ReadEDI/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T210/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T214/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T270/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T271/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T276/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T277/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T278/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T404/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T810/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T820/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T820HIX/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T824/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T832/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T834/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T835/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T837D/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T837I/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T837P/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T837P.DB/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T850/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T855/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T856/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T857/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T861/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.T945/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.Templates/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.ValidateEDI/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.WriteEDI/.vs
/NET Framework 4.8/EdiFabric.Examples.X12.XML/.vs
