<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EdiFabric.Core.Trial" version="2.2.3" targetFramework="net45" />
  <package id="EdiFabric.Framework.Trial" version="9.2.4" targetFramework="net45" />
  <package id="EdiFabric.Plugins.Ack.Edifact.Trial" version="1.2.4" targetFramework="net45" />
</packages>